<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>📋 게시판</title>
</head>
<body class="container">
<h1>📋 게시판</h1>
<p>
    <a th:href="@{/posts/add}">
        <button>➕ 새 글</button>
    </a>
    <a th:href="@{/logout}">
        <button class="cancel">로그아웃</button>
    </a>
</p>

<ul class="post-list">
    <li th:each="post: ${posts}">
        <div class="post">
            <h2>
                <a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}"></a>
            </h2>
            <p>
                작성자:
                <span th:text="${post.author.username}"></span>
                |
                <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
            </p>
        </div>
    </li>
</ul>
</body>
</html>